
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<h2><button type="button" class="btn btn-primary btnCreate" id="btnCreate">Create New Store</button></h2>
<p id="hiddenId" hidden></p>

<table id="datatable" class="table table-striped table-bordered" style="width:100%;margin-left:12px">

    <thead>
        <tr>
            <th> Id </th>
            <th>Name</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="storemodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title"></h4>
            </div>
            <div class="modal-body">
                <form id="frm-store">
                    <p>
                        <div class="form-group">
                            <label class="control-label" for="Name">Name:</label>
                            <input type="text" class="form-control" id="Name" name="Name">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Address">Address:</label>
                            <input type="text" class="form-control" id="Address" name="Address">
                        </div>

                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="btnSave">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#frm-store").validate({
                rules: {
                    Name: {
                        required: true
                    },
                    Address: {
                        required: true
                    }
                }
            });

            var table = $('#datatable').DataTable({
                ajax: {
                    "url": "/api/stores",
                    "dataSrc": ""

                },
                columns: [
                    { "data": "Id" },
                    { "data": "Name" },
                    { "data": "Address" },
                    {
                        "render":
                            function (data, type, store, meta) {

                                return '<button class="btn btn-warning btn-edit" id="' +
                                    store.Id +
                                    '">Edit</button>';
                            }
                    },
                    {
                        "render":
                            function (data, type, store, meta) {
                                return '<button class="btn btn-danger btn-Delete" id="' +
                                    store.Id +
                                    '">Delete</button>';
                            }

                    }
                ]
            });


            $('#datatable').on('click',
                '.btn-edit',
                function (data) {

                    $('#title').text('Edit');
                    $('#storemodal').modal('show');

                    $('#hiddenId').text(data.target.id);
                    var url = "/api/stores/" + data.target.id;
                    $.get(url,
                        function (data) {

                            $("#Name").val(data.Name);

                            $("#Address").val(data.Address);
                        });

                });


            $(document).on("click",
                ".btn-Delete",
                function (data) {
                    bootbox.confirm({
                        message: "Are you sure you want to delete?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result === true) {

                                $.ajax({
                                    type: 'delete',
                                    url: "/api/stores/" + data.target.id,
                                    success: function () {
                                        location.reload();
                                    },
                                    error: function () {
                                        alert('error');
                                    }
                                });
                                console.log('This was logged in the callback: ' + result);
                            }
                        }
                    });
                });
            $('#btnCreate').on('click',

                function (data) {
                    $('#title').text("Create");
                    $('#storemodal').modal('show');

                });
            $('#btnSave').on('click',
                function () {

                    if (!$('#frm-store').valid()) {
                        return;
                    }
                    if ($('#title').text() === "Edit") {

                        $.ajax({
                            type: "put",
                            url: "/api/stores/" + $('#hiddenId').text(),
                            data: {
                                "Name": $("#Name").val(),
                                "Address": $('#Address').val()
                            },
                            dataType: "JSON",
                            success: function () {
                                location.reload();

                            }

                        });
                    } else {
                        $.ajax({
                            type: "post",
                            url: "/api/stores/" + $('#hiddenId').text(),
                            data: {
                                "Name": $("#Name").val(),
                                "Address": $('#Address').val()
                            },
                            dataType: "JSON",
                            success: function () {
                                location.reload();

                            }

                        });
                    }
                });
        });

    </script>
}

















